- name: Common setup on all servers
  hosts: all
  become: yes

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install common packages
      apt:
        name:
          - curl
          - wget
          - apt-transport-https
          - ca-certificates
        state: present

    - name: Disable swap
      shell: |
        swapoff -a
        sed -i '/ swap / s/^/#/' /etc/fstab